.photo-container {
  background-color: #008000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
}
.box-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 20%;
  padding-right: 2em;
  padding-top: 2em;
}
.box-2 {
  display: flex;
  margin-bottom: 1em;
  padding-top: 2em;
}
.box-3 {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  padding-right: 2em;
}
.box-4 {
  display: flex;
}
img {
  background: none;
  cursor: pointer;
  height: auto;
  margin-left: 0%;
  max-width: 400px;
  min-width: 0;
  padding-bottom: 2.65em;
  position: relative;
}
