.photo-grid {
  background-color: #00f;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 40vw;
}
img {
  background: none;
  float: left;
  height: auto;
  margin-left: 0%;
  min-width: 0;
  padding-bottom: 1em;
  position: relative;
  justify-content: space-between;
  max-width: 400px;
}
