.photo-grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 30vw;
  display: -ms-flexbox;
}
.item {
  background: none;
  margin-left: 0%;
  min-width: 0;
  position: relative;
}
.item img {
  width: 100%;
  height: auto;
}
