
// .photo-grid
//   display: grid
//   grid-gap: 2em
//   grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
//   padding-left: 20%
//   padding-top: 8em
//
// .item
//   grid-column: span 1
//   grid-row-end: span 2
//   grid-row-gap: 20em
//   grid-row: span 2
//   object-fit: cover
//
// img
//   height: auto
//   width: 100%
//


.photo-grid
  display: flex
  flex-direction: row
  flex-flow: row wrap
  flex-wrap: wrap
  justify-content: flex-start
  margin: 0 auto
  max-width: 40vw
  // overflow: hidden

.item
  background: none
  float: left
  margin-left: 0%
  min-width: 0
  position: relative

img:hover
  transform: scale(1.1)
  transition: .5s ease-out
  -webkit-transition: .2s ease-in
  -webkit-transform: scale(0.15)
  -ms-transition: .2s ease-in
  -ms-transform: scale(0.15)
  -moz-transition: .4s ease-in
  -moz-transform: scale(1.3)
