
// .photo-grid
//   display: grid
//   grid-gap: 2em
//   grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
//   padding-left: 20%
//   padding-top: 8em
//
// .item
//   grid-column: span 1
//   grid-row-end: span 2
//   grid-row-gap: 20em
//   grid-row: span 2
//   object-fit: cover
//
// img
//   height: auto
//   width: 100%
//

.photo-container
  // background-color: green
  display: flex

.photo-col-1
  // background-color: blue
  display: flex
  flex-direction: row
  flex-flow: row wrap
  flex-wrap: wrap
  float: right
  // justify-content: space-between
  margin: 0 auto
  max-width: 20vw

.photo-col-2
  // background-color: orange
  display: flex
  flex-direction: row
  flex-flow: row wrap
  flex-wrap: wrap
  float: right
  // justify-content: space-between
  margin-left: 30px
  max-width: 40vw

img
  background: none
  height: auto
  margin-left: 0%
  min-width: 0
  padding-bottom: 2.65em
  position: relative

  max-width: 400px

img:hover
  transform: scale(1.1)
  transition: .1s ease-out
  -webkit-transition: .1s ease-in
  -webkit-transform: scale(1.1)
  -ms-transition: .1s ease-in
  -ms-transform: scale(1.1)
  -moz-transition: .1s ease-in
  -moz-transform: scale(1.1)
