.giant-container {
  background-color: #40e0d0;
  background-size: cover;
}
.left-aside {
  background-color: #ffc0cb;
  display: flex;
  position: absolute;
  width: 10em;
}
.links {
  list-style-type: none;
}
.photo {
  height: 40em;
  width: 50em;
}
.footer {
  background-color: #008000;
  display: flex;
  flex-wrap: wrap;
  height: 10em;
}
.left-box {
  background-color: #ffc0cb;
  display: flex;
  height: 8em;
  justify-content: center;
  width: 4em;
}
.foot-links {
  list-style-type: none;
}
.right-box {
  background-color: #800080;
  display: flex;
  justify-content: center;
  height: 8em;
  width: 4em;
}
.resources {
  list-style-type: none;
}
