.giant-container
  background-color: turquoise
  background-size: cover

.left-aside
  background-color: pink
  display: flex
  position: absolute
  width: 10em

.links
  list-style-type: none

.photo
  background color blue
  height: 40em
  width: 50em

.footer
  background-color: green
  display: flex
  flex-wrap: wrap
  height: 10em

.left-box
  background-color: pink
  display: flex;
  height: 8em
  justify-content: center
  width: 4em

.foot-links
  list-style-type: none

.right-box
  background-color: purple
  display: flex
  justify-content: center;
  height: 8em
  width: 4em

.resources
  list-style-type: none
