html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 100%;
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  text-decoration: none;
}
.giant-container {
  background-color: #40e0d0;
  background-size: cover;
}
.left-aside {
  display: flex;
  flex-direction: column;
  height: 100vw;
  position: fixed;
  text-align: right;
  width: 15em;
}
.intro {
  font-size: 2em;
  height: 20vh;
  padding-left: 1.5em;
  padding-top: 0.5em;
  text-align: center;
}
.links {
  font-size: 35px;
  height: 30vh;
  padding-right: 1.45em;
}
li > a {
  color: #000;
  position: relative;
  text-decoration: none;
}
li > a:hover {
  color: #000;
}
li > a:before {
  background-color: #000;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  height: 10em;
}
.copy {
  display: flex;
  font-size: 1.2em;
  text-align: center;
  padding: 80px 0 0 43%;
}
.footer-links {
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  padding: 0 0 0 38%;
}
.li a {
  color: #000;
  text-decoration: none;
}
.li > a {
  color: #000;
  position: relative;
  text-decoration: none;
}
.li > a:hover {
  color: #000;
}
.li > a:before {
  background-color: #000;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.resources {
  list-style-type: none;
}
