body
  font-family: 'Alegreya Sans', sans-serif
  list-style-type: none
  text-decoration: none

.giant-container
  background-color: turquoise
  background-size: cover

.left-aside
  background-color: pink
  display: flex
  position: absolute
  text-align: left
  width: 10em



li > a
  color: black
  position: relative
  text-decoration: none

li > a:hover
  color: green

li > a:before
  background-color: black
  bottom: 0
  content: ""
  height: 2px
  left: 0
  position: absolute
  width: 100%
  visibility: hidden
  -webkit-transform: scaleX(0)
  transform: scaleX(0)
  -webkit-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

li > a:hover:before
  visibility: visible
  -webkit-transform: scaleX(1)
  transform: scaleX(1)





.footer
  background-color: green
  display: flex
  flex-wrap: wrap
  height: 10em

.left-box
  background-color: pink
  display: flex
  height: 8em
  justify-content: center
  width: 4em

.foot-links
  list-style-type: none

.right-box
  background-color: purple
  display: flex
  justify-content: center
  height: 8em
  width: 4em

.resources
  list-style-type: none
