.giant-container
  background-color: turquoise
  background-size: cover

.left-aside
  background-color: pink
  display: flex
  position: absolute
  width: 10em

.links
  list-style-type: none

.photo
  height: 40em
  width: 50em
